body {
    font-family: "Work Sans", sans-serif;
    padding: 16px;
    margin: 0 auto 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0 0 16px 0;
}

a {
    color: #0078d7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    margin: 0 0 16px 0;
}

button,
input[type="submit"],
input[type="button"] {
    border: none;
    background-color: #0078d7;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    border-radius: 4px;
}

button:hover {
    background-color: #0063b1;
}

button:active {
    background-color: #004578;
}

.fabr-tooltip {
    background-color: #323130;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

.fabr-has-tooltip:hover .fabr-tooltip {
    display: block;
}

.fabr-toast {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    z-index: 9999;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.fabr-toast-success {
    background-color: #6bb700;
}

.fabr-toast-info {
    background-color: #242424;
}

.fabr-toast-error {
    background-color: #d83b01;
}

.fabr-table-wrapper {
    position: relative;
}

.fabr-table-search {
    padding: 8px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    background-color: #f3f2f1;
    margin: 0 0 10px 0;
}

.fabr-table {
    border-collapse: collapse;
    border: 1px solid #eaeaea;
    border-radius: 4px;
}

.fabr-table th,
.fabr-table td {
    padding: 16px;
    border: none;
}

.fabr-table th {
    background-color: #f3f2f1;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
}

.fabr-table th i {
    font-size: 16px;
    vertical-align: middle;
}

.fabr-table th:hover {
    background-color: #eaeaea;
    cursor: default;
}

.fabr-table tbody tr:hover {
    background-color: #f3f2f1;
}

.fabr-table tr:nth-child(odd) {
    background-color: #f3f2f196;
}

.fabr-form input[type="text"],
.fabr-form input[type="password"] {
    display: block;
    padding: 12px;
    margin-bottom: 16px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
}

.fabr-form p {
    font-size: 14px;
    margin-bottom: 16px;
}

.fabr-notebook {
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
}

.fabr-notebook ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f3f2f1;
}

.fabr-notebook li {
    padding: 16px;
    font-size: 17px;
    font-weight: 500;
    cursor: default;
    border-bottom: 3px solid transparent;
}

.fabr-notebook li:hover {
    background-color: #eaeaea;
}

.fabr-notebook li.active {
    border-bottom-color: #0078d7;
    font-weight: 600;
}

.fabr-notebook-content {
    padding: 16px;
    background-color: #ffffff;
}

.fabr-snippet {
    margin: 10px 0;
    overflow: auto;
    background-color: #f3f2f1;
    border-radius: 4px;
    padding: 16px 20px;
    border: 1px solid #eaeaea;
    position: relative;
}

.fabr-snippet-code {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    font-size: 14px;
    margin: 0;
    font-family: monospace;
}

.fabr-snippet-pre {
    margin: 0;
}

.fabr-snippet-icon {
    cursor: default;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    position: absolute;
    bottom: 10px;
    left: 20px;
    pointer-events: none;
    opacity: 0;
    padding: 5px;
}

.fabr-snippet-icon:hover {
    background-color: #eaeaea;
}

.fabr-snippet:hover .fabr-snippet-icon {
    opacity: 1;
    pointer-events: initial;
}

.fabr-selector-dropdown {
    position: relative;
}

.fabr-selector-input {
    display: block;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
}

.fabr-selector-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border: 1px solid #d1d1d1;
    border-top: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 9999;
    max-height: 200px;
    overflow-y: auto;
    display: none;
}

.fabr-selector-item {
    padding: 12px;
    cursor: default;
}

.fabr-selector-item:hover {
    background-color: #f3f2f1;
}

.fabr-selector-item.active {
    background-color: #0078d7;
    color: #ffffff;
}

.fabr-selector-item.active:hover {
    background-color: #0063b1;
}

.fabr-selector-search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid #d1d1d1;
}

.fabr-selector-wrapper {
    display: inline-block;
}

.fabr-selector-input:focus,
.fabr-selector-input:active {
    outline: none;
}

.fabr-expander-wrapper {
    border: 1px solid #eaeaea;
    margin: 10px 0;
    border-radius: 4px;
}

.fabr-expander-header {
    background: #f3f2f1;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 20px;
    align-items: center;
}

.fabr-expander-header:hover {
    background: #eaeaea;
}

.fabr-expander-content {
    padding: 10px;
    display: none;
}

img {
    max-width: 100%;
}

.splitter {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.splitter>div {
    flex: 1;
}

.fabr-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fabr-carousel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #eaeaea;
    margin: 10px 0;
    border-radius: 4px;
}

.fabr-carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fabr-carousel-slide-active {
    opacity: 1;
}

.fabr-carousel-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.fabr-carousel-control-prev,
.fabr-carousel-control-next {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(243 242 241);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fabr-carousel-control-prev:hover,
.fabr-carousel-control-next:hover {
    background-color: rgb(234 234 234);
}

.fabr-carousel-control-prev {
    margin-left: 20px;
}

.fabr-carousel-control-next {
    margin-right: 20px;
}

.fabr-carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.fabr-carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(243 242 241);
    margin: 0 5px;
    cursor: pointer;
}

.fabr-carousel-indicator:hover {
    background-color: rgb(234 234 234);
}

.fabr-carousel-indicator-active,
.fabr-carousel-control-prev:active,
.fabr-carousel-control-next:active,
.fabr-carousel-control-prev:focus,
.fabr-carousel-control-next:focus {
    background-color: rgb(173 173 173);
}

.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    max-width: 1240px;
    margin: 0 auto;
}

.fabr-summary-list {
    margin: 0;
    padding: 0;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    background-color: #f3f2f1;
}

fabr-summary-item {
    display: flex;
    align-items: center;
}

.fabr-summary-item-has-nested {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fabr-summary-item-wrapper {
    padding-inline-start: 0;
    width: 100%;
    margin-top: 10px;
}

.fabr-summary-wrapper {
    width: 260px;
    position: sticky;
    top: 20px;
}

.fabr-summary-list li {
    list-style: none;
    padding: 0;
    background: transparent;
    padding: 12px;
}

.fabr-summary-list li:hover {
    background: #eaeaea;
}

.fabr-summary-item-wrapper .fabr-summary-item {
    padding: 12px 0;
}

.fabr-summary-list li a {
    color: black;
    text-decoration: none;
    display: block;
}

li.fabr-summary-item-wrapper-active {
    background-color: #e5e5e5;
}

li.fabr-summary-item-wrapper-active>a {
    font-weight: 600;
}

.fabr-summary-item-has-nested.fabr-summary-item-nested-open {
    background-color: #ebebeb;
}

.content {
    width: calc(100% - 260px - 40px);
}

.clickable-area {
    height: 120px;
    background-color: #f0f7ff;
    border: 1px solid #0069d8;
    border-radius: 4px;
}

.fabr-contextmenu-body,
.fabr-contextmenu-submenu {
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #eaeaea;
}

.fabr-contextmenu-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.fabr-contextmenu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    position: relative;
}

.fabr-contextmenu-item:hover {
    background-color: #eaeaea;
}

.fabr-contextmenu-item-icon {
    font-size: 20px;
}

.fabr-contextmenu-item-text {
    white-space: nowrap;
}

@media (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .fabr-summary-wrapper {
        width: 100%;
        position: initial;
    }

    .content {
        width: 100%;
    }
}