.titlebar {
  height: 30px;
  background: #dfdfdf;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #000;
}

.titlebar-button:hover {
  background: #c7c7c7;
}

main {
  margin-top: 30px;
}

::-webkit-scrollbar {
  display: none;
}

main section {
  margin: 0 0 30px 0;
}